<aside>
    <!-- if login user is admin then admin will have employee creation option -->
    <span class="btn close">close</span>
    <%if(locals.user.userType=='admin'){%>
        <%if(locals.userReadUpdate && locals.urlPath==`/admin/${userReadUpdate.id}`){%>
            <a href="/admin">Create employee</a>
        <%}%>
        <!-- if the admin is on the emplloyee dashboard then link to rewie employee -->
        <%if(locals.urlPath=='/employee'){%>
            <br>
            <a href="/admin">Review employees</a>
        <%}%>
        <!-- if login user is employee then he make or delete request -->
    <%}else if(locals.user.userType=='employee'){%>
        <%if(!locals.user.isRequested){%>
            <h3> Admin request</h3>
            <form action="/request/create" method="post">
                <input type="hidden" name="requestBy" defaultValue="<%= userReadUpdate.id %>">
                <button type="submit">Request to admin</button>
            </form>
        <%}else{%>
            <h3> Admin request</h3>
            <form action="/request/<%=userReadUpdate.isRequested%>/delete" method="post">
                <input type="hidden" name="requestBy" defaultValue="<%= userReadUpdate.id %>">
                <button type="submit">delete Request</button>
            </form>
        <%}%>
    <%}%>
    <div>
    <% if(revieweeList.length>0){%>
        <div>
            <h1 class="head1">revieweeList</h1>
            <%for(let reviewee of revieweeList){%>
                <div class="place-apart">
                    <a href="/admin/<%=reviewee.id%>"><%=reviewee.name%></a>
                    <%if(locals.user.userType=='admin' && reviewee.isRequested){%>
                        <!-- <form action="/user/<%= reviewee.id %>/update" method="post">
                            <input type="hidden" name="userType" defaultValue="admin">
                            <button type="submit">Confirm </button>
                        </form> -->
                        <form action="/request/<%=reviewee.isRequested%>/delete" method="post">
                            <input type="hidden" name="requestBy" defaultValue="<%= reviewee.id %>">
                            <button type="submit">Delete Request</button>
                        </form>
                        
                    <%}%>
                </div>
            <%}%>
        </div>
    <%}%>
    </div>       

</aside>