<!-- this layout for the website so repeating meta data can be avoided can be removed -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/layout.css" />
    
    <%- style %>
  </head>
  <body>
    <script src="/scripts/jquery-3.6.0.js"></script>
    <%- include('./partials/_header'); %> 
     <%- body %> 
    <!-- <%- include('./partials/_footer'); %>  -->
    <%- script %>
  </body>
</html>
